<div id="app">
    
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ titulo }}</h5>

                    
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lista de Productos</h5>
                  <h3 v-if="cargando">Cargando...</h3>
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th>NOMBRE</th>
                            <th>PRECIO</th>
                            <th>STOCK</th>
                            <th>CATEGORIA</th>
                            <th>ACCIONES</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="prod in lista_productos">
                            <td>{{ prod.nombre }}</td>
                            <td>Bs. {{ prod.precio }}</td>
                            <td>{{ prod.stock }}</td>
                            <td>{{ prod.categoria_id }}</td>
                            <td>
                              <button class="btn btn-primary" @click="addCarrito(prod)">seleccionar</button>
                            </td>
                          </tr>
                         
                        </tbody>
                      </table>
                      
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">Carrito</h5>
                            <table class="table">
                              <tr>
                                <td>NOMBRE</td>
                                <td>PRECIO</td>
                                <td>CANT</td>
                                <td>S.T.</td>
                                <td>ACCION</td>
                              </tr>
                              <tr v-for="(carr, index) in carrito">
                                <td>{{ carr.nom }}</td>
                                <td>{{ carr.precio }}</td>
                                <td>{{ carr.cantidad }}</td>
                                <td>{{ carr.precio * carr.cantidad }}</td>
                                <td>
                                  <button class="btn btn-outline btn-danger" @click="quitarCarrito(index)">x</button>
                                </td>
                              </tr>

                            </table>
                            <h3>Total: Bs. {{monto_total}}</h3>
                        </div>
                      </div>
                </div>
                <div class="col-md-12">
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">Cliente</h5>
                          {{ id_cliente }}
                            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Nuevo Cliente
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="">Nombres</label>
        <input type="text" v-model="cliente.nombres" class="form-control">
        
        <label for="">Apellidos</label>
        <input type="text" v-model="cliente.apellidos" class="form-control">

        <label for="">CI / NIT</label>
        <input type="text" v-model="cliente.ci_nit" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" @click="nuevoCliente()" data-dismiss="modal">Guardar Cliente</button>
      </div>
    </div>
  </div>
</div>

                        </div>
                      </div>
                </div>
                <div class="col-md-12">
                  <button @click="realizarPedido()" class="btn btn-success">Realizar Pedido</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    let app = new Vue({
        el: "#app",
        data(){
            return {
                titulo: "Nuevo Pedido",
                lista_productos: [],
                cargando: true,
                carrito: [],
                cliente: {
                  nombres: '',
                  apellidos: '',
                  ci_nit: ''
                },
                id_cliente: 0,
                monto_total:0
            }
        },
        created(){
          this.cargando = true;
          this.cargarProductos();
          this.cargando = false;
        },
        methods:{
          async cargarProductos(){
            let { data } = await axios.get(`http://127.0.0.1:3000/api/producto`);
            this.lista_productos = data
          },
          addCarrito(prod){
            this.monto_total = parseFloat(this.monto_total) + parseFloat(prod.precio); 
            this.carrito.push({id_prod: prod.id, nom: prod.nombre,precio: prod.precio, cantidad: 1})
          },
          quitarCarrito(pos){
            this.carrito.splice(pos, 1);
          },
          async nuevoCliente(){
            let { data } = await axios.post(`http://127.0.0.1:3000/api/cliente`, this.cliente);
            this.id_cliente = data.resp.id
          },
          async realizarPedido(){
            let pedido = {
              carrito: this.carrito,
              cliente: this.id_cliente,
              monto_total: this.monto_total
            }
            console.log(pedido)
            let { data } = await axios.post(`http://127.0.0.1:3000/api/pedido`, pedido);
            

          }
        }
    })
</script>


<%- contentFor('css') %>
<link href="/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">



<%- contentFor('js') %>
  <!-- Datatables -->
  <script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/vendors/pdfmake/build/vfs_fonts.js"></script>
